<html>
<head>
	<title>Data</title>
</head>
<body>
	<h1>Data</h1>
	<form action='/data/sms' method='POST'>
		SMS:<input type='password' name='pwd'>
		<input type='submit' value='View Data'> 
	</form>
	<form action='/data/email' method='POST'>
		Email:<input type='password' name='pwd'>
		<input type='submit' value='View Data'> 
	</form>
	<form action='/data/participants' method='POST'>
		Participants:<input type='password' name='pwd'>
		<input type='submit' value='View Participants'> 
	</form>
</body>
</html>