<html>
<head>
	<title>Data</title>
</head>
<body>
	<h1>Data</h1>
	<form action='/data/sms' method='POST'>
		SMS:<input type='password' name='pwd' required placeholder='Password'>
		<input type='submit' value='View Data'> 
	</form>
	<form action='/data/email' method='POST'>
		Email:<input type='password' name='pwd' required placeholder='Password'>
		<input type='submit' value='View Data'> 
	</form>
	<form action='/participants' method='POST'>
		Participants:<input type='password' name='pwd' required placeholder='Password'>
		<input type='submit' value='View Participants'> 
	</form>
	<form method='POST'>
		Participant:<input type='text' name='number' required placeholder='Number'>
		<input type='password' name='pwd' required placeholder='Password'>
		<input type='submit' name='edit' value='View' method='POST' onclick='this.form.action="/participant/"+this.form.number.value;'>
	</form>
	<a href='/new-participant'>New Participant</a>
</body>
</html>