<html>
<head>
	<title>New Participant</title>
</head>
<body>
	<h1>Create new participant</h1>
	<form action='/new-participant' method='POST'>
		Phone Number:<input type='text' name='phone' placeholder='Phone Number' required/><br>
		Twilio Number:<input type='text' name='twilio' placeholder='Twilio phone Number' required/><br>
		Lab Target Date:<input type='text' name='lab_day' placeholder='YYYY-MM-DD' required/><br>
		Money Target Date:<input type='text' name='money_day' placeholder='YYYY-MM-DD' required/><br>
		Password:<input type='password' name='pwd' placeholder='Password' required><br><br>
		<input type='submit' value='Create'>
	</form>
	<a href='/data'>back</a>
</body>
</html>